@media print {
    @page {
        margin: 0;
        size: auto;
    }

    body {
        margin: 0;
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}